# Ignore everything
*

# Include all folders or the below inclusions won't work
!*/

# Include specific files/folders
!www/js/**
!custom_components/**
!packages/*
!automation/*
!.gitignore
!*.md
!.HA_VERSION
!.prettierignore

# Ignore folders
*pycache*

# Ignore specific yaml files
ip_bans.yaml
secrets.yaml
known_devices.yaml
packages/gha.yaml